@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@600&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Work+Sans:wght@300;600&display=swap'); */
*{
    margin:0;
    padding:0;
    font-family: 'Work Sans';
}
/* header */
.header{
    border: 1px solid red;
    /* background-image: url("../images/banner/banner1.png"); */
}
.header{
    background-image: url("../images/banner/banner1.png");
    width:100%;
    height: 800px;
}
.header-container{
    position: absolute;
    top: 30%;
    left: 60%;
    font-family: 'Work Sans';
    margin: 10px;
    padding: 20px;
}
.header-title{
    
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    font-style: normal;
   
}

.header-description{
    color:#444343;
    font-size: 16px;
    font-style: normal;

}

.contact-btn{
    float: right;
    margin-top: 5px;
    background-color: #F15B22;
    color:white;
    border: none;
    height: 50px;
    width: 160px;
    border-radius: 5px;
    font-size: 20px;
}

/* main */

/* previous plan section */
.previous-yr-section{

    margin-top: 113px;
    padding:113px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
}
.previous-description{
    margin-top: 274px;
    margin-left:113px;
    float: right;
    margin-right: 20px;
}
.failure-list-header{
    margin-bottom: 29px;
    font-weight: 400px;
    font-size: 30px;
    font-family: 'Work Sans';
}

.failures{
    color:#444343;
    margin-bottom: 14px;

}

.failures-list{
    list-style: none;
    color:#444343;
    font-size: 16px;
    
}
.check{
    margin-right: 3px;
    color: rgb(17, 152, 17);
}
/* Motivation Section */

.motivation-section{
    max-width: 1141px;
    margin: 0 auto;
    background: linear-gradient(90deg, #a84a25 0%, rgba(241, 91, 34, 0) 100%),url('../images/nature.jpg');
    height: 300px;
    background-size: cover;
    color: white;
    font-family: 'Work Sans';
    text-align: center;
    border-radius: 5px;
   

}
.motivation-section h3{
    margin-top: 120px;
    
    display: inline-block;
    
}


/* My plan section */
.plan-section{
    max-width: 1141px;
    margin: 0 auto;
   
}
.plan-header{
    margin-top:113px;
    font-weight: 400px;
    font-size: 30px;
    font-family: 'Work Sans';
    text-align: center;
}

.plans-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
}
.plan-item{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.plan-icon{
    margin-bottom: 24px;
    width:92px;
    height: 92px;
}

.plan-item p{
    margin-top: 14px;
    
    color:#444343;
}

/* gradient image  section*/
.gradient-image-section{
    max-width: 1141px;
    margin: 0 auto;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
    height: 300px;
    background-size: cover;
    color: white;
    /* padding: 20px; */
}

.message-div{
    
   
    font-size: 30px;
    margin-top: 70px;
    padding-left: 70px;
    padding-top: 80px;
    width: 400px;
    height: 180px;
}

.call-btn{
    border:none;
    margin-top:40px;
    width:160px;
    height: 60px;
    padding: 21px;
    border-radius:5px;
    font-size: 20px;
    color: #F15B22;
}

/* footer */
.footer{
    width: 100%;
    height: 300px;
    margin-top: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 20px;
}

.left-box p{
    font-style: normal;
    font-size: 16px;
}
.right-box input{
    background-color: transparent;
    border-radius: 5px;
    width: 300px;
    height: 55px;
    color:white;
   
}
.right-box input::placeholder{
    color: white;
    padding-left: 20px;
    opacity: 0.9;
}
.right-box button{
    margin-top:30px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    color:#F15B22;

}

.sm-icons{
    margin-top: 20px;
    padding-right: 70px;
   
}

.sm-icons img{
    margin-right: 20px;
}